table {
    table-layout: fixed;
}

.rank {  /* rank column */
    text-align: center;
    width: 50px;
}

.djicon {  /* djicon column */
    text-align: center;
    width: 75px;
}

.djname {  /* djname column */
    text-align: left;
    width: 125px;
}

.score {  /* score column */
    text-align: left;
    width: 100px;
}

.djs {  /* td cell containing the DJ scores table */
    vertical-align: top;
}

.rivals {  /* td cell containing the Rival scores table */
    vertical-align: top;
}

h3 img {  /* disc icons */
    width: 66px;
    height: 66px;
    vertical-align: middle;
}
