table {
    table-layout: fixed;
}

/* pop accordion disc icons */
h3 img {
    width: 66px;
    height: 66px;
    vertical-align: middle;
}

/* the two cells that hold the ranking tables */
.djrank, .rivalrank {
    vertical-align: top;
}

/* ranking table djicons */
.djrank td:nth-child(2) img, .rivalrank td:nth-child(2) img {
    width: 52px;
    height: 32px;
}

/* 1st column of the ranking tables */
.djrank th:nth-child(1), .djrank td:nth-child(1),
.rivalrank th:nth-child(1), .rivalrank td:nth-child(1) {
    text-align: center;
    width: 50px;
}

/* 2nd column of the ranking tables */
.djrank th:nth-child(2), .djrank td:nth-child(2),
.rivalrank th:nth-child(2), .rivalrank td:nth-child(2) {
    text-align: center;
    width: 75px;
}

/* 3rd column of the ranking tables */
.djrank th:nth-child(3), .djrank td:nth-child(3),
.rivalrank th:nth-child(3), .rivalrank td:nth-child(3) {
    text-align: left;
    width: 125px;
}

/* 4th column of the ranking tables */
.djrank th:nth-child(4), .djrank td:nth-child(4),
.rivalrank th:nth-child(4), .rivalrank td:nth-child(4) {
    text-align: left;
    width: 100px;
}

/* 1st column of the personal/rival score tables */
#me th:nth-child(1), #me td:nth-child(1),
#rival th:nth-child(1), #rival td:nth-child(1) {
    text-align: left;
    width: 425px;
}

/* 2nd, 3rd, and 4th column of the personal/rival score tables */
#me th:nth-child(2), #me td:nth-child(2),
#me th:nth-child(3), #me td:nth-child(3),
#rival th:nth-child(2), #rival td:nth-child(2),
#rival th:nth-child(3), #rival td:nth-child(3),
#rival th:nth-child(4), #rival td:nth-child(4) {
    text-align: left;
    width: 100px;
}
